<div th:fragment="headerMain">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
<!--      <li><a href="/home/" class="nav-link px-2 link-secondary">Домашняя страница</a></li>-->
      <li><a href="/flower/" class="nav-link px-2 link-dark">Список цветов</a></li>
      <li><a href="/toy/" class="nav-link px-2 link-dark">Список игрушек</a></li>
<!--      <li><a href="/system/" class="nav-link px-2 link-dark">Список систем</a></li>-->
<!--      <li><a href="/galaxyshutle/" class="nav-link px-2 link-dark">Список галактических шатлов</a></li>-->
      <li>
        <form th:action="@{/logout}" method="post">
          <input type="submit" class="btn btn-danger" value="Выход"/>
        </form>
      </li>
    </ul>
  </div>
</div>