<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление игрушки</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1>Добавить игрушку</h1>

<form method="post">
    <label>Название</label>
    <input type="text" name="name">
    <p/>
    <label>Тип</label>
    <input type="text" name="type">
    <p/>
    <label>Размер</label>
    <input type="text" name="form">
    <p/>
    <label>Высота</label>
    <input type="number" name="height">
    <p/>
    <label>Цена</label>
    <input type="number" name="cost">
    <p/>

    <input class="button-add" type="submit" value="Добавить игрушку">
    <a class="button-edit" href="/toy/">Назад</a>
</form>

</body>
</html>