<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Добавление игрушки</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1>Добавить игрушку</h1>

<form method="post" th:object="${toy}">
    <label>Название</label>
    <input th:field="*{name}" type="text" name="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"/>
    <p/>
    <label>Тип</label>

    <select  name="nameType">
        <div th:each="element : ${type_list}">
            <option th:text="${element.nameType}" th:value="${element.id}"></option>
        </div>
    </select>

<!--    <input th:field="*{type}" type="text" name="type">-->
<!--    <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color: red"/>-->
    <p/>
    <label>Размер</label>
    <input th:field="*{form}" type="text" name="form">
    <div th:if="${#fields.hasErrors('form')}" th:errors="*{form}" style="color: red"/>
    <p/>
    <label>Высота</label>
    <input th:field="*{height}" type="number" name="height">
    <div th:if="${#fields.hasErrors('height')}" th:errors="*{height}" style="color: red"/>
    <p/>
    <label>Цена</label>
    <input th:field="*{cost}" type="number" name="cost">
    <div th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" style="color: red"/>
    <p/>

    <input class="button-add" type="submit" value="Добавить игрушку">
    <a class="button-edit" href="/toy/">Назад</a>
</form>

</body>
</html>