<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Игрушки</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Игрушки</h1>

<form method="get" action="/toy/filter">
    <div class="search-container">
        <input placeholder="Поиск..." name="name" type="text">
        <button type="submit" value="Найти"/>
    </div>
</form>

<p><a class="button-add" href="/toy/add">Добавить игрушку</a></p>

<table>
    <thead>
    <tr>
        <td>Название</td>
        <td>Тип</td>
        <td>Размер</td>
        <td>Высота</td>
        <td>Цена</td>
        <td>Действие</td>
    </tr>
    </thead>
    <tr th:each="el : ${toy_list}">
        <td th:text="${el.name}"></td>
        <td th:text="${el.type}"></td>
        <td th:text="${el.form}"></td>
        <td th:text="${el.height}"></td>
        <td th:text="${el.cost}"></td>
        <td>
            <a class="button-edit" th:href="'/toy/detail/' + ${el.id}">Подробнее</a>
        </td>
    </tr>
</table>

</body>
</html>