<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование игрушки</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Редактировать игрушку</h1>

<form method="post" th:object="${toy}">
    <label>Название</label>
    <input type="text" th:field="*{name}" name="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"/>
    <p/>
    <label>Тип</label>
    <input type="text" th:field="*{type}" name="type">
    <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color: red"/>
    <p/>
    <label>Форма</label>
    <input type="text" th:field="*{form}" name="form">
    <div th:if="${#fields.hasErrors('form')}" th:errors="*{form}" style="color: red"/>
    <p/>
    <label>Высота</label>
    <input type="number" th:field="*{height}" name="height">
    <div th:if="${#fields.hasErrors('height')}" th:errors="*{height}" style="color: red"/>
    <p/>
    <label>Цена</label>
    <input type="number" th:field="*{cost}" name="cost">
    <div th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" style="color: red"/>
    <p/>

    <input class="button-edit" type="submit" value="Сохранить изменения"/>
    <a class="button-back" href="/toy/">Назад</a>
</form>

</body>
</html>