<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление цветка</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Добавить цветок</h1>

<form method="post" th:object="${flower}">
    <label>Название</label>
    <input th:field="*{name}" type="text" name="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"/>
    <p/>
    <label>Тип</label>
    <input type="text" name="type">
    <p/>
    <label>Цвет</label>
    <input type="text" name="color">
    <p/>
    <label>Запах</label>
    <input type="text" name="smell">
    <p/>
    <label>Цена</label>
    <input type="number" name="cost">
    <p/>

    <input class="button-add" type="submit" value="Добавить цветок">
    <a class="button-back" href="/flower/">Назад</a>
</form>

</body>
</html>