<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Цветы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="/fragments/header :: headerMain"/>
<h1>Цветы</h1>

<form method="get" action="/flower/filter">
    <div class="search-container">
        <input placeholder="Поиск..." name="name" type="text">
    </div>
</form>
<p/>
<p><a href="/flower/add" class="button-add">Добавить цветок</a></p>

<table>
    <thead>
    <tr>
        <td>Название</td>
        <td>Тип</td>
        <td>Цвет</td>
        <td>Запах</td>
        <td>Цена</td>
        <td>Действие</td>
    </tr>
    </thead>
    <tr th:each="el : ${flower_list}">
        <td th:text="${el.name}"></td>
        <td th:text="${el.type}"></td>
        <td th:text="${el.color}"></td>
        <td th:text="${el.smell}"></td>
        <td th:text="${el.cost}"></td>
        <td>
            <a class="button-edit" th:href="'/flower/detail/' + ${el.id}">Подробнее</a>
        </td>
    </tr>
</table>

</body>
</html>