<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование цветка</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Редактировать цветок</h1>

<form method="post">
    <label>Название</label>
    <input type="text" th:value="${object.name}" name="name">
    <p/>
    <label>Тип</label>
    <input type="text" th:value="${object.type}" name="type">
    <p/>
    <label>Цвет</label>
    <input type="text" th:value="${object.color}" name="color">
    <p/>
    <label>Запах</label>
    <input type="text" th:value="${object.smell}" name="smell">
    <p/>
    <label>Цена</label>
    <input type="number" th:value="${object.cost}" name="cost">
    <p/>

    <input class="button-edit" type="submit" value="Сохранить изменения"/>
    <a class="button-back" href="/flower/">Назад</a>
</form>

</body>
</html>