<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование цветка</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Редактировать цветок</h1>

<form method="post" th:object="${flower}">
    <label>Название</label>
    <input th:field="*{name}" type="text" name="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"/>
    <p/>
    <label>Тип</label>
    <input th:field="*{type}" type="text" name="type">
    <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color: red"/>
    <p/>
    <label>Цвет</label>
    <input th:field="*{color}" type="text" name="color">
    <div th:if="${#fields.hasErrors('color')}" th:errors="*{color}" style="color: red"/>
    <p/>
    <label>Запах</label>
    <input th:field="*{smell}" type="text" name="smell">
    <div th:if="${#fields.hasErrors('smell')}" th:errors="*{smell}" style="color: red"/>
    <p/>
    <label>Цена</label>
    <input th:field="*{cost}" type="number" name="cost">
    <div th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" style="color: red"/>
    <p/>

    <input class="button-edit" type="submit" value="Сохранить изменения"/>
    <a class="button-back" href="/flower/">Назад</a>
</form>

</body>
</html>